*{background-color: black;}
nav{
    background-color: black;
    color: rgb(237, 230, 20);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
font-size:large;
    word-spacing: 20;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 10;
}
nav a{padding: 20px;
color: white;}
h1{
    color: red;
    /* background-color: black; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 40px;

}
p{color: rgb(0, 255, 42);
    /* background-color: black; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    line-height: normal;margin-top: 60px;}
h2{color: rgb(38, 111, 147);
    /* background-color: black; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    line-height: normal;}
img{
width: 200px;
margin: auto;display: flex;
align-items: center;
border-radius: 4px;
margin-top: 100px;
height: 200px;
width: 300px;}
footer{color: white;
margin-top: 1000px;
text-align: center;}
div{
            width: 200px;
            height: 20px;
           
            background-color: blueviolet;
            position: relative;
            animation-name: example;
            animation-duration: 10s;
            animation-delay: 0s;
            animation-iteration-count: 5;
            /* animation-direction: alternate-reverse; */
            animation-fill-mode: forwards;
            /* animation-direction: reverse; */
           

        }
        @keyframes example{
            0%   {background-color:red; left:0px; top:0px;}
           5% {background-color:red; left:100px; top:0px;}
  10%  {background-color:rgb(255, 0, 0); left:200px; top:0px;}
  15%  {background-color:rgb(247, 4, 4); left:300px; top:0px;}
  20%  {background-color:rgb(255, 5, 5); left:400px; top:0px;}
  25% {background-color:red; left:500px; top:0px;}
  30%{background-color:red; left:600px; top:0px;}
  35%{background-color:red; left:700px; top:0px;}
  40%{background-color:red; left:800px; top:0px;}
  50%{background-color:red; left:900px; top:0px;}
  60%{background-color: red;left: 1000px;top:0px}
  70% {background-color:red; left: 1100px; top:0px;}
80% {background-color:red; left: 1200px; top:0px;}
90% {background-color:red; left:1300px; top:0px;}
95% {background-color:red; left: 1400px; top:0px;}

100% {background-color:red; left: 1500px;  top: 0px}


        }
@media(max-width:480px){body{background-color: yellow}}
/* @media(max-width:674px){body{background-color: blue}} */